{% extends "base.html" %}
{% load top_recommend %}
{% load static %}
{% block get_in_head %}

{% include "snippets/emojipicker/emoji_css.html" %}
<link rel="stylesheet" type="text/css" href="{% static "css/chat.css" %}">

{% endblock get_in_head %}


{% block main_content %}

<div class="row">
    <!-- side left-->
  	 <div class="col-md-3 d-none d-md-block order-md-1">
  	 	{% if user.is_authenticated %}
  	 		{% include "snippets/profile_card.html" %}
  	 	{% endif %}
        <!-- top recommend-->
    	{%top_recommend%}
    	<!-- end top recommend-->
    </div>
    <!-- end side left-->

    <!-- main content-->
    <div class="col-md-6 order-1 order-md-2 ">
    		{% if user.is_authenticated %}
    			<!-- Post Create-->
	            {% include "snippets/post_create.html" %}
	            <!-- Post CreateEnd-->
    		{% endif %}
            
        
                <!-- chat -->
		        <div class="content-chat">
		           <!-- Contact List-->
                  <ul id="room" class="room-wraper fade show">
                    <div id="roomList" class="row justify-content-around m-0">
                      <!--all room chat-->
                    </div>
                    
                  </ul><!--Contact List End-->
                  <!--messages -->
                  <div class="room-messages fade" id="wrap-messages" style="display:none">
                    <!--infoprofile -->
                    <div class="card-header msg_head">
                      <div class="d-flex">
                        <div class="btn-back" id="show-room-list">
                          <i class="fa fa-angle-left"></i>
                        </div>
                        <div class="img_cont">
                          <img id="room_photo" src="{{user.profile.user_photo.url}}" alt="" class="profile-photo"/>
                          <span class="online_icon"></span>
                        </div>
                        <div class="user_info ml-4">
                          <span id="room_name">Chat with Maryam Naz</span>
                        </div>
                      </div>
                      <span id="action_menu_btn"><i class="fa fa-ellipsis-v"></i></span>
                      <div class="action_menu">
                        <ul>
                          <li><i class="fa fa-user-circle"></i> View profile</li>
                          <li><i class="fa fa-plus"></i> Add to group</li>
                          <li><i class="fa fa-ban"></i> Block</li>
                        </ul>
                      </div>
                    </div>
                     <!--infoprofile end -->
                    <!--body chat -->
                  	<div class="chat-body">
                        <ul class="chat-message">
                          <!--all chat-->
                        </ul>
                        <!--form chat -->
                        <div class="form-chat">
                          <div class="input-container mb-2">
                             <textarea data-emojiable=true id="chat-message" data-emoji-input="unicode">
                            
                            </textarea>
                          </div>
                          <div class="d-flex">
                              <button id="btn-send-msg" class=" btn btn-orange ml-auto">
                                Send
                              </button>
                            </div>
                        </div>
                         <!--form chat -->
                      </div>
                      <!--body chat -->
                      
                  </div>
                   <!--messages -->

		        </div>
		        <!-- end chat-->

    </div>
    <!-- end main content-->

     <!-- side right-->
    <div class="col-md-3 order-2 order-md-3">
    	
	     <!--forum recommend-->
      {%forum_recommend request%}
       <!--end forum recommend-->
	   	{% include "snippets/footer.html" %}
	 </div>
   <!-- end side right-->
</div>

{% endblock main_content %}

{% block costum_js %}

  {% include "snippets/follow.html" %}
  {% include "snippets/emojipicker/emoji_js.html" %}

  <script type="text/javascript" src='{% static "vendor/reconnecting-websocket/reconnecting-websocket.min.js" %}'></script>
  <script type="text/javascript">

    let username='alen';
    //room socket
    let node='ws://'+window.location.host+'/ws/chat/'
    let roomSocket=new ReconnectingWebSocket(node);
    roomSocket.onopen=function(e){
      fetchRoom()
    };
    roomSocket.onmessage=function(e){
      let data=JSON.parse(e.data);
      if(data['command']=='fetch_room'){
        $('#roomList').html('')
        for (let i=0;i<data['data_room'].length;i++){
          createRoom(data['data_room'][i])
        }
      }else{
        console.log(e)
      }
    }

    function fetchRoom(){
      roomSocket.send(JSON.stringify({
        'command':'fetch_room'
      }))
    }

    function createRoom(data){
      let name=data['name']
      let room_id=data['room_id']
      let image_url=data['image_url']
      let last_msg=data['last_msg']
      let last_msg_time=data['last_msg_time']
      let count_received=data['count_received']

      let li_room=document.createElement('li')
      li_room.className='list-room col-12 col-sm-5'
      li_room.setAttribute('data-id',room_id)

      let a_room=document.createElement('a')
      a_room.href="javascript:void(0)"
      let div_contact=document.createElement('div')
      div_contact.className='contact row'
      img_user=document.createElement('img')
      img_user.className='profile-photo'
      img_user.src=image_url
      div_msg=document.createElement('div')
      div_msg.className='msg-preview'
      h6_name=document.createElement('h6')
      h6_name.textContent=name
      p_msg=document.createElement('p')
      p_msg.className='text-muted'
      p_msg.textContent=last_msg
      small_time=document.createElement('small')
      small_time.className='text-muted'
      small_time.textContent='a min ago'
      

      div_msg.appendChild(h6_name)
      div_msg.appendChild(p_msg)
      div_msg.appendChild(small_time)
      if(count_received>0){
        div_alert=document.createElement('div')
        div_alert.className='chat-alert'
        div_alert.textContent=count_received
        div_msg.appendChild(div_alert)
      }
      

      div_contact.appendChild(img_user)
      div_contact.appendChild(div_msg)

      a_room.appendChild(div_contact)
      li_room.appendChild(a_room)

      $('#roomList')[0].appendChild(li_room)
    }

    roomSocket.onclose=function(e){
      console.error('Room Socket Close')
    };



    let chatSocket=null

    function fetchMessage(){
      chatSocket.send(JSON.stringify({
        'command':'fetch_messages'
      }))
    }


    function showChat(msg,user){
      author=msg['author']
      author_img=msg['author_image'],
      text=msg['content']
      time=msg['time']

      li_chat=document.createElement('li')
      img_chat=document.createElement('img')
      img_chat.src=author_img

      div1_chat=document.createElement('div')
      

      if(author==user){
        li_chat.className='right'
        img_chat.className='profile-photo float-right'
        div1_chat.className='chat-item float-right'
      }else{
        li_chat.className='left'
        img_chat.className='profile-photo float-left'
        div1_chat.className='chat-item float-left'
      }

     

      div2_chat=document.createElement('div')
      div2_chat.className='chat-item-header'

      h5_chat=document.createElement('h5')
      h5_chat.textContent=author

      small_chat=document.createElement('small')
      small_chat.className='text-muted'
      small_chat.textContent='2 days ago'

      p_chat=document.createElement('p')
      p_chat.textContent=text

      div2_chat.appendChild(h5_chat)
      div2_chat.appendChild(small_chat)

      div1_chat.appendChild(div2_chat)
      div1_chat.appendChild(p_chat)

      div_clearfix=document.createElement('div')
      div_clearfix.className='clearfix'
      li_chat.appendChild(img_chat)
      li_chat.appendChild(div1_chat)
      li_chat.appendChild(div_clearfix)

      msg_list=$('.chat-message')[0]
      msg_list.appendChild(li_chat)
      msg_list.scrollTop=msg_list.scrollHeight
      
    }
    $(document).ready(function(){
      $('#action_menu_btn').click(function(){
        $('.action_menu').toggle();
        });
      });

    $(document).on('click','#show-room-list',function(){
      $('#wrap-messages').hide().toggleClass('show')
      $('#room').show().toggleClass('show')
      chatSocket.send(JSON.stringify({
        'command':'close'
      }))
      //update room dan berikan nilai null pada chatSocket
      fetchRoom()
      chatSocket=null
    });
    $(document).on('click','.list-room',function(e){      
      data_id=$(this).attr('data-id')
      room_image=this.firstChild.firstChild.firstChild['src']
      room_name=this.firstChild.firstChild.lastChild.firstChild.textContent
      $('#chat-message').val('')
      $('.emoji-wysiwyg-editor').text('')
      $('#room_photo').attr('src',room_image)
      $('#room_name').text(room_name)
      $('#room').hide().toggleClass('show')
      $('#wrap-messages').show().toggleClass('show')
      chatSocket=new WebSocket(node+data_id+'/');

      chatSocket.onopen=function(e){
        fetchMessage()
      }
      chatSocket.onmessage=function(e){
        data=JSON.parse(e.data)
        if(data['command']=='fetch_message'){
          messages=data['messages']
          $('.chat-message').html('')
          for(i=0;i<messages.length;i++){
            user=data['request_user']
            showChat(messages[i],user)
          }
        }else if(data['command']=='new_message'){
          user='{{request.user.username}}'
          message=data['msg']
          showChat(message,user)
        }
        
      }
      chatSocket.onclose=function(e){
        console.log('chat close')
      }

    });
    $(document).on('click','#btn-send-msg',function(e){
      e.preventDefault()
      let msg=$('#chat-message')
      if(msg.val().trim()){
       chatSocket.send(JSON.stringify({
        'command':'new_message',
        'msg':msg.val().trim()
        }))
        msg.val('')
        msg.next().text('') 
      }
    });

  </script>

{% endblock costum_js %}
