{% extends "base.html" %}
{% load static %}
{% load top_recommend %}

{% block get_in_head %}

	<link rel="stylesheet" type="text/css" href="{% static "css/forum_home.css" %}">
	
{% endblock get_in_head %}



{% block main_content %}

<div class="row">
	<div class="col-md-3 d-none d-md-block order-md-1">
		{% if user.is_authenticated %}
			{% include "snippets/profile_card.html" %}
		{% endif %}
      	
        <!-- top recommend-->
    	{%top_recommend%}
    	<!-- end top recommend-->
    </div>
    <div class="col-md-6 order-1 order-md-2 ">
    		{% if user.is_authenticated %}
    			<!-- Post Create-->
            	{% include "snippets/post_create.html" %}
            	<!-- Post CreateEnd-->
    		{% endif %}
           

            <div class="chanels-card">
            {% for category in categorys  %}
				<div class="chanel-detail shadow">
                 	<img src="/media/logo_image/190331210525.png" alt="user" class="chanel-logo" />
                  <div class="channel-info">
                  	<a href="{% url "channel" id_channel=category.id name_channel=category.name%}" class="remove-link-format">
                    <h5 class="channel-title">Chanels {{category.name|capfirst}}</h5>
                    	<p>{{category.forums.all.count}} Forum{{category.forums.all.count|pluralize}}</p>
                    </a>
                  </div>
                  <div class="hr-custom clearfix"></div>
                  <div class="chanel-forum container-fluid">
                    	<h6>{{category.name|capfirst}} Forums </h6>
                    	<div class="row">
                    	{% for forum in category.forums.all %}
	                    		<div class="forum-detail col-sm-6">
	                    			<a href="{% url "forum:forumview" id_forum=forum.id name_forum=forum.name %}" class="remove-link-format"> 
		                    		<div class="forum-info">
		                    			<img src="/media/logo_image/logocoba.jpg" class="img-fluid forum-logo">
		                    			<div class="forum-posts d-flex flex-column justify-content-center">
		                    				<p>{{forum.posts.all.count}} Post{{forum.posts.all.count|pluralize}}</p>
		                    				<p>{{forum.subforums.all.count}} SubForum{{forum.subforum.all.count|pluralize}}</p>
		                    			</div>
		                    		</div>
									<p>{{forum.name|capfirst}}</p>
									</a>
								</div>
						{% endfor %}
						<div class="col-sm-6 d-flex align-items-center justify-content-center">
							<a href="{% url "channel" id_channel=category.id name_channel=category.name %}" class="link-all-forum">
								<p>
									<i class="fa fa-arrow-right"></i>
									See All Forum
								</p>
									
							</a>
						</div>
						
						</div>
						
                  </div>
                  
                </div>
			{% endfor %}
            </div>
   
    </div>
    <div class="col-md-3 order-2 order-md-3">
    	
	     <!--forum recommend-->
      {%forum_recommend request%}
       <!--end forum recommend-->
	   	{% include "snippets/footer.html" %}
	 </div>
</div>

{% endblock main_content %}
{% block costum_js %}
	{% include "snippets/follow.html" %}
{% endblock costum_js %}

