{% extends "base.html" %}
{% load static %}
{% block costum_css %}
    {% include "../snippets/froala/froala_css.html" %}
{% endblock costum_css %}

{% block costumhead_js %}
	{% include "../snippets/froala/froala_js.html" %}
	<script type="text/javascript">
		$(function(){
			$('#id_body').froalaEditor({
				toolbarBottom:true,
				toolbarButtons:['bold','italic','underline','strikeThrough','emoticons'],
				emoticonsUseImage:false,
				height:350,
				placeholderText:"Tambahkan Detail",
			})
		});
	</script>
{% endblock costumhead_js %}
	
{% block main_content %}
	<h3>Buat Thread</h3>
	<form method="post">
		{% csrf_token %}
		{% for f in form  %}
			<div class="form-group">
				<label for="{{f.id_for_label}}"><strong>{{f.label}}</strong></label>
				{{f}}
			</div>
			
		{% endfor %}
		<button type="submit" name="draft" class="btn btn-outline-primary">
			Simpan Draft
		</button>
		<button type="submit" name="post"  class="btn btn-primary">
			Post
		</button>
		
	</form>
{% endblock main_content %}

{% block costum_js %}
	
{% endblock costum_js %}


