{% extends "base.html" %}
{% load static %}

{% load vote_follow_filter %}
{% load top_recommend %}
{% block get_in_head %}
{{form.media}}
{% include "snippets/highlight/highlight_css_js.html" %}

<link rel="stylesheet" type="text/css" href="{% static "css/thread_view.css" %}">

{% endblock get_in_head %}


{% block main_content %}

<div class="row">
    <div class="col-md-8">

            <div class="wrap-content shadow">
            	<div class="thread-content">
            		<div class="user-detail d-flex flex-row align-items-center shadow">
            			<div class="user-photo">
            				<img src="{{thread.author.profile.user_photo.url}}" class="profile-photo">
            			</div>
            			<div class="user-info">
            				<h5><a href="{% url "creator" thread.author.username%}">{{thread.author}}</a></h5>

                  			<a href="javascript:void(0)"class="btn btn-follow follow-this {%is_user_follow thread.author.profile request%}" data-id='{{thread.author.id}}' data-action='user'>{%is_user_follow thread.author.profile request 'get_text'%} </a>

            			</div>
                	</div>
                	<div class="thread-detail">
                		<h4 class="text-center thread-title ">{{thread.post_title}}</h4>
            			<p class="text-center">Published {{thread.created}}</p>
                	</div>
            		<div class="hr-custom"></div>
					{{thread.body|safe}}
					<p class="clearfix"></p>
					<div class="reaction mb-3">
						<a href="javascript:void(0)" class="btn btn-recommend r-this remove-link-format {{thread|is_user_vote_r:request}}" data-id="{{thread.id}}">{% include "snippets/recommend.svg" %} <span id="s-vote-r">{{thread.post_recommends.all.count}}</span></a>

						<a href="javascript:void(0)" class="btn btn-claps vote-this {{thread|is_user_upvote:request}}" data-id="{{thread.post_slug}}" data-cat='posts' data-action='up'>
						{% include "snippets/claps.svg" %}
						</a><span id="up-{{thread.post_slug}}" class='detail-reaction'>{{thread.upvotes}}</span> <span class="d-none d-sm-inline-block detail-reaction">Tepuk-Tangan</span> 
						
						<a href='javascript:void(0)' class="btn btn-punch vote-this {{thread|is_user_downvote:request}}" data-id="{{thread.post_slug}}" data-cat='posts' data-action='down'>
							{% include "snippets/punch.svg" %}
						</a>
						<span id="down-{{thread.post_slug}}" class='detail-reaction'>{{thread.downvotes}}</span> <span class="d-none d-sm-inline-block detail-reaction" >Flungku</span>
						<a href="#wrap-comments" class="totals-comment" ><span class="d-inline-block"><i class="fa fa-comments-o fa-lg"></i><span id="count-comment">{{thread.post_comments.all.count}}</span> Comment{{thread.post_comments.all.count|pluralize}} </span></a>


					</div>
					<h5>Tambahkan komentar</h5>
					<form method="post" class="form-comment">
						{% csrf_token %}
						{{forms_comment.body}}
						<div class="text-right">
							<button type="submit" class="d-inline-block btn btn-orange mr-3 mt-2" data-action='submit-form' data-type='comment'>Komentar</button> 
						</div>
					</form>
					<div id="wrap-comments" class="mt-4 mb-5">
					{% with thread.post_comments.all.count as total_comments  %}
					  <h5><span id="prev-comment-count">{{total_comments}}</span> comment{{total_comments|pluralize}}</h5>  
					{% endwith %}

					{% with comments as all_comment  %}
					    {% include "batasibuk_forum/comments.html" %}
					{% endwith %}
					</div>

            	</div>
            </div>

            
    </div>
    <div class="col-md-4">
    	{% if user.is_authenticated %}
    		<!-- Post Create-->
        {% include "snippets/post_create.html" %}
        <!-- end Post CreateEnd-->
    	{% endif %}
		
        
    	<!-- top recommend-->
    	{%top_recommend%}
    	<!-- end top recommend-->

	     <!--forum recommend-->
      {%forum_recommend request%}
       <!--end forum recommend-->
	   	{% include "snippets/footer.html" %}
	 </div>
</div>

{% endblock main_content %}



{% block costum_js %}
	<script type="text/javascript">
		function upvote(e){
			data_id=e.attr('data-id')
			data_cat=e.attr('data-cat')
			
			$.ajax({
				type:'POST',
				url:'/api/'+data_cat+'/'+data_id+'/upvote',
				data:{
					csrfmiddlewaretoken:'{{csrf_token}}',
				},
				data_type:'json',
				success:function(data){
					if(data.redirect_login){
						window.location.replace('/login?next=/api/'+data_cat+'/'+data_id+'/upvote')
					}else{
						//tambah kelas ubah data
						e.toggleClass('active')
						data_up=$('#up-'+e.attr('data-id'))
						data_up.text(data.upvotes)

						//hapus kelas ubah data
						btn_down=$('.vote-this[data-action="down"][data-id='+data_id+']')
						btn_down.removeClass('active')
						data_down=$('#down-'+btn_down.attr('data-id'))
						data_down.text(data.downvotes)
					}

				}
			})
		};

		function downvote(e){
			data_id=e.attr('data-id')
			data_cat=e.attr('data-cat')
			$.ajax({
				type:'POST',
				url:'/api/'+data_cat+'/'+data_id+'/downvote',
				data:{
					csrfmiddlewaretoken:'{{csrf_token}}',
				},
				success:function(data){
					if(data.redirect_login){
						window.location.replace('/login?next=/api/'+data_cat+'/'+data_id+'/downvote')
					}else{
						//tambah kelas ubah data
						e.toggleClass('active')
						data_down=$('#down-'+e.attr('data-id'))
						data_down.text(data.downvotes)

						//hapus kelas ubah data
						btn_up=$('.vote-this[data-action="up"][data-id='+data_id+']')
						btn_up.removeClass('active')
						data_up=$('#up-'+btn_up.attr('data-id'))
						data_up.text(data.upvotes)
					}
				}
			})
		};

		$(document).on('click','.vote-this',function(e){
			e.preventDefault()
			action=$(this).attr('data-action')
			if (action=='up'){
				upvote($(this))
			}else if(action=='down'){
				downvote($(this))
			}
		});

		function set_ckeditor(id){
			$('#'+id).find('textarea').each(function(){
				$('#'+id).removeClass('d-none')
				if (! CKEDITOR.instances[this.id]){
					CKEDITOR.replace(this.id,{
						'toolbar':'Comment',
        				'skin':'batasibuk',
        				'toolbar_Comment':[['Emoji','Link','Image','CodeSnippet']],
        				'height':70,
       					 'width':'98%',
       					 'extraPlugins':'codesnippet,emoji',
        				'removePlugins':'resize,elementspath,stylesheetparser',
        				'toolbarLocation':'bottom',
					})
				}
				
				
			})

		}
		$(document).on('click',".show-form-reply",function(e){
			e.preventDefault()
			data_form=$(this).attr('data-form-show')
			$('.form-reply').addClass('d-none')
			$('.data-reply').addClass('d-none')
			set_ckeditor(data_form)
			
		});

		$(document).on('click',".show-data-reply",function(e){
			e.preventDefault()
			data_reply=$(this).attr('data-reply-show')
			data_id=$(this).attr('data-id')
			data_form=$(this).next().attr('data-form-show')
			$('.form-reply').addClass('d-none')
			$('.data-reply').addClass('d-none')
			set_ckeditor(data_form)
			$.ajax({
				type:'GET',
				url:'/api/get_replys/'+data_id,
				data:{
					csrfmiddlewaretoken:'{{csrf_token}}',
				},
				success:function(data){
					$('#'+data_reply).html(data)
					$('#'+data_reply).removeClass('d-none')
				}
			})


		});


	$(document).on('click','.r-this',function(ev){
		ev.preventDefault();
		data_id=$(this).attr('data-id')
		r_this=$(this)
		$.ajax({
			type:'POST',
			url:'/api/posts/'+data_id+'/vote_r',
			data:{
				csrfmiddlewaretoken:'{{csrf_token}}'
			},
			success:function(data){
				if (data.redirect_login){
					window.location.replace('/login?next=/api/posts/'+data_id+'/vote_r');
				}
				else{
					if (data.action=='vote'){
						r_this.addClass('active')
					}else if(data.action='cancel'){
						r_this.removeClass('active')
					}
					$('#s-vote-r').text(data.score);
				}
				
			}
		})
	});
	</script>
	{% include "snippets/follow.html" %}
	<script type="text/javascript">
		function update_ckeditor_element(){
			for(instance in CKEDITOR.instances){
				CKEDITOR.instances[instance].updateElement()
			}
		}
		function reset_ckeditor_content(){
			for(instance in CKEDITOR.instances){
				CKEDITOR.instances[instance].setData('',function(){
					this.updateElement()
				})
			}
		}

		$(document).on('click','.form-comment',function(e){
			target=e.target
			if(target.dataset.action='submit-form'){
				e.preventDefault()
				update_ckeditor_element()
				let body=$(this).find('textarea')
				let parent=$(this).find('#id_id_parent_comment')
				if(body.val().trim()){
					$.ajax({
						type:'POST',
						url:'/ajax'+window.location.pathname,
						data:$(this).serialize(),
						success:function(data){
							reset_ckeditor_content()
							comment_count=$('#count-comment')
							comment_now=Number(comment_count.text())+1
							comment_count.text(comment_now)
							$('#prev-comment-count').text(comment_now)
							if(target.dataset.type=='comment'){
								comment_append=$('#wrap-comments').append(data)
								comment_append=comment_append.find('.detail-comment')
								last=comment_append.length-1
								$(document).scrollTop($(comment_append[last]).offset().top-80)
								$('#none-comment').hide()
							}else{
								comment_append=$('#data-reply-'+parent.val()).append(data)
								reply_count=$('#count-reply-'+parent.val())
								reply_count_now=Number(reply_count.text())+1
								reply_count.text(reply_count_now)
								$('#none-reply').hide()
							}
							

						}
					})
				}
				
			}else{
				e.stopPropagation()
			}
		});
	</script>
{% endblock costum_js %}
