
#do-edit-profile{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom:0;
	background-color: rgba(0,0,0,.5);
	z-index:999;
	display: none;
}
#btn-edit-profile,.user-profile{
	position: relative;
	z-index: 99999;
}
.wrap-header{
	max-width: 100%;
	background-color: #fff;
	position: relative;
}
.wrap-header .image-header{
	display: block;
	width: 100%;
	max-height: 450px;
	overflow: hidden;
}
.wrap-header .image-header >img{
	width: 100%;
}
.wrap-header .profile{
	position: absolute;
	bottom: 0px;
	width: 100%;
}
.wrap-header .profile .detail-profile{
	position: absolute;
	left: 90px;
	bottom: 40px;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	z-index: 9999;
	color: #fff;
}

.wrap-header .profile .detail-profile .image-profil{
  height: 120px;
  width: 120px;
  border: 4px solid #fff;
  border-radius: 50%;
  overflow: hidden;
}
.wrap-header .profile .detail-profile .image-profil img{
 	height: 100%;
	width: 100%;
}
.wrap-header .profile .detail-profile>a{
	display: inline-block;
	margin-top: 10px;
	font-size: 30px;
}
.wrap-header .profile .profile-stats{
	background:linear-gradient(90deg,#fc8207 0%,#f05c27 50%,#e7413f 100%);
	height: 50px;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
}
.wrap-header .profile .profile-stats .btn-follow{
	color:#fff;
	border-color: #fff;
}
.wrap-header .image-header{
	position: relative;
}
#label-user-header,#label-user-photo{
	text-align: center;
	font-weight: bold;
	font-size:15px;
	position: absolute;
	bottom: 60px;
	right: 20px;
	padding: 5px 15px;
	background-color: white;
	border-radius: 5px;
	color:#333;
	transition: .3s;
	z-index: 99999;
}
#label-user-photo{
	bottom: 60px;
	right: 60px;
	width: 100px;
}
#label-user-header:hover,#label-user-photo:hover{
	color:#17affc;
}

.row .user-profile{
	width: 100%;
	background-color: #fff;
	margin-bottom: 20px;
	padding: 20px 15px;
	border-radius: 5px;
	min-height: 150px;
}

.row .user-profile .title{
	text-align: center;
	font-size: 18px;
	color: #fc8207;
	font-weight: bold;
	margin-bottom: 15px;
}
.row .user-profile .detail-user-profile,.row .user-profile{
	font-size: 13px;
	font-weight: bold;
	color:#333;
}
.row .user-profile .detail-user-profile>.text-center{
	color: #17affc;
	font-size: 15px;
}

.input-container .emoji-picker{
	left:20px;
	top: 15px;
	width: 10px!important;
	font-size: 15px;
}
.input-container .emoji-wysiwyg-editor{
	padding: 0!important;
	padding-left: 25px!important;
	font-weight: normal;
	font-size: 13px;
	height: 38px;
}

