@font-face{
	font-family:'Agency';
	src:url('../fonts/agency-fb.ttf');
}


html, body {
  height: 100%;
  width: 100%;
}
#contents{
	width: 97%;
	margin:0 auto;
	padding:30px 0 40px;
	box-sizing: border-box;
}
body{
	font-family: Helvetica, Arial;
  line-height: 20px;
	color: #14171a;
	background-color: #eee;
	font-size: 13px;
	padding-top: 60px;
}


.img-logo{
	margin: 10px 0;
	width: 120px!important;
	padding: 0;
}
.img-logo img{
	width: 100px!important;
	height: auto;
}
.shadow{
	box-shadow: 0 .5rem .5rem 0 rgba(0,0,0,.18)!important;
}
.btn{
	font-family: Helvetica,Arial,sans-serif!important;
	font-weight: 700;
	letter-spacing: .1px;
}
.btn-follow {
	color: #fc8207;
	background-color: transparent;
	background-image: none;
	border-color: #fc8207;
	font-weight: bold;
	width: 120px;
	border-radius: 20px;
}

.btn-follow:hover,.btn-follow.active {
 color:#fff;
 background-color:#ff6601;
 border-color:#fc8207;
}

.btn-follow:focus{
	box-shadow: 0 0 0 .2rem rgba(248, 125, 6, 0.44);
}



.btn-follow-sm {
	color: #fc8207;
	background-color: transparent;
	background-image: none;
	border-color: #fc8207;
	font-weight: bold;
	width: 70px;
	border-radius: 20px;
}

.btn-follow-sm:hover,.btn-follow-sm.active {
 color:#fff;
 background-color:#ff6601;
 border-color:#fc8207;
}

.btn-create-thread{
	background-color: #fc8207;
	border-radius:20px;
	font-size: 16px;
	font-weight: bold;
	height: 30px;
	line-height: 100%;
	padding: 4px;
	color: #fbfbfb;
	width:120px;
}

.remove-link-format,.remove-link-format:hover,.remove-link-format:active,.remove-link-format:focus{
	color: inherit;
	text-decoration: none;
}
.btn-orange{
	color: #fff;
    background-color: #ff6601;
    border-color: #fc8207;
     font-weight: bold;
}
.btn-orange:hover{
	color: #fff;
    background-color: #fc8207;
    border-color: #fc8207;
}
.btn-outline-orange {
    color: #fc8207;
    background-color: transparent;
    background-image: none;
    border-color: #fc8207;
     font-weight: bold;
}
.btn-outline-orange:hover {
 color:#fff;
 background-color:#ff6601;
 border-color:#fc8207;
}




.hr-custom{
  background: none;
  height: 1px;
  border-top: 1px solid #e6e6e6;
  width: 100%;
  margin: auto;
  margin-bottom: 10px;
}
.modal{
	z-index: 9999999999;
}
 .modal-content{
 	top:30px;
 }

/*navbar*/
.menu{
  background: linear-gradient(to bottom, #fff, #fbfbfb);
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 0;
  margin-bottom: 0;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.18);
  z-index: 99999999999999999999999999;
}
.menu ul.navbar-nav li.dropdown ul li{
	font-weight: bold;
}
.menu ul.navbar-nav li.dropdown ul li:hover a{
	color: #fc8207;
}
.menu .navbar-brand img{
	height: 25px!important;
}
.menu form{
  margin: 0 0;
}
.menu form.form-inline{
	position: relative;
}
.menu form.form-inline i.fa-search{
  position: absolute;
  left: 15px;
  color: #fc8207;
  font-size: 15px;
}
.menu form.form-inline input.form-control{
  background: #fff;
  border: 0;
  box-shadow: none;
  min-width: 235px;
  color: #111;
  height: 35px;
  border-radius: 15px;
  border:.5px solid #ff6601;
  font-size: 15px;
  padding-left: 35px;
  transition:ease-in .3s;
}
.menu form.form-inline input.form-control:focus{
	box-shadow: 0 0 0 .2rem rgba(240, 107, 9, 0.5);
}
.menu ul.navbar-nav{
	align-items: center;
}
.menu ul.navbar-nav li{
	width: 95%;
}
.menu ul.navbar-nav li.active .fa-home,.menu ul.navbar-nav li:hover .fa-home{
	color: #fc8207;
}
.menu  ul.navbar-nav li a.dropdown-toggle{
	text-align: left;
}
.menu ul.navbar-nav li .dropdown-menu{
	border: none;
	padding-left: 25px;
}
.menu ul.navbar-nav li{
	margin:0 3px;
}
.menu ul.navbar-nav li:last{
	margin:0;
}

.menu ul.navbar-nav > li{
	font-size: 25px;
}
.menu ul.navbar-nav li > a.btn,.menu ul.navbar-nav li > a.btn:focus{
	box-shadow: none;
	padding:0;
}
.menu ul.navbar-nav li a.dropdown-toggle > i.fa{
	color:#ff6601;
}
.menu ul.navbar-nav li a.dropdown-toggle:after{
	display: none;
}
.menu ul.navbar-nav li a .btn-profile{
	border-radius: 50%;
	overflow: hidden;
	display: inline-block;
	padding: 0;
	width: 30px;
	border:.5px solid rgba(255, 102, 0, 0.3);
}

.menu ul.navbar-nav li a.btn-thread{
	background-color: #fc8207;
	border-radius:20px;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	line-height: 100%;
	padding: 4px 0;
	width:100px;
	height: 27px;
	transition: .3s;
}
.menu ul.navbar-nav li a.btn-thread:hover,.menu ul.navbar-nav li a.btn-thread:active,.menu ul.navbar-nav li a.btn-thread:focus{
 	color: #fff;
 	box-shadow: 1px 3px 3px 0 rgba(0,0,0,.2);
 	padding: 4px 0;
}

.menu ul.navbar-nav li.register,.menu ul.navbar-nav li.login{
	font-size: 16px;
	font-weight: bold;	
}
.menu ul.navbar-nav li.register:hover a,.menu ul.navbar-nav li.login:hover a,
.menu ul.navbar-nav .register.active a,.menu ul.navbar-nav .login.active a{
	color:  #fc8207;
}
.profile-card{
	background-color: #fff;
	border-radius: 6px;
	color:#14171a;
	padding-top: 10px;
}
.profile-card .profile-name,.profile-card .profile-info{
	display: block;
	margin-left: 60px;
	text-align: center;
}
.profile-card .profile-name{
	font-size: 18px;
	font-weight: bold;
	color: #ff6601;
}
.profile-card .profile-info{
	margin-bottom: 5px;
	color: #657786;
	font-weight: bold;
}
.profile-card .profile-name:hover,.profile-card .profile-name:active,.profile-card .profile-name:focus{
	text-decoration: none;
}
.profile-card .profile-fields{
  background: linear-gradient(90deg,#fc8207 0%,#f05c27 50%,#e7413f 100%);
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  width: 100%;
  height: 120px;
  padding: 10px 20px;
  color: #222;
  margin-bottom: 40px;
  position: relative;
}
.profile-card .profile-fields img.profile-photo{
  border: 3px solid #fff;
  background-color: #fff;
  position: absolute;
  top: -35px;
  height: 65px;
  width: 65px;
  border-radius: 50%;
}

.profile-card .profile-fields .profile-stats{
	height: 100%;
	align-items: flex-end;
	text-align: center;
}
.profile-card .profile-fields .profile-stats > a{
	color:#fff;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
}
.profile-card .profile-fields .profile-stats >a >span:first-child{
	font-size: 15px;
	margin-bottom: 12px;
	color:#fff;
	transition:cubic-bezier(1,.41,1,1) .2s all;
}
.profile-card .profile-fields .profile-stats >a:hover span{
	color:#007bff;
}


img.profile-photo {
    height: 58px;
    width: 58px;
    border-radius: 50%;
}

.create-post{
	width: 100%;
	padding:5px;
	font-size: 14px;
	color: #444;
	font-weight: bold;
	background-color: #fbfbfb;
	border-radius: 5px;
	margin-bottom: 10px;
}
.create-post>p{
	text-align: center;
	margin-bottom: 5px;
	align-items: center;
	justify-content: start;
	margin-left: 20px;
	padding-top: 10px;
}
.create-post  p > span{
	margin-left: 15px;
	text-align: center;
	display: block;
	width: 200px;
}
.create-post  p span > .btn-create-thread{
	display: block;
	line-height: 1.3em;
	margin: 0 auto;
}
.create-post .btn-forum{
	display: block;
	width:170px;
	height: 40px;
	line-height: 40px;
	color: #007bff;
	font-size: 13.5px;
	padding-top: 0;
	text-align: center;
	border:2px solid #007bff;
	opacity: 0.8;
}
.create-post .btn-forum:hover{
	color: #fff;
	opacity: 1;
	background-color: #007bff;
}

.content-posts{
  border-radius: 4px;
  width: 100%;
  border: 1px solid #f1f2f2;
  margin-bottom: 20px;
  background-color: #fff;
}


.post-container{
  padding: 15px;
}
.post-container .post-detail{
	padding:10px 8px 8px;
	background-color: #fff;
}
.post-container .post-detail .profile-photo{
	float: left;
	margin-right: 20px;
}
.post-container .post-detail .user-info > h5{
	margin-bottom: 2px;
}
.post-container .post-detail .post-text{
  line-height: 24px;
  margin: 0;
    font-size: 15px;
    padding: 2px;
    position: relative;
    box-sizing: border-box;
    transition: ease-in .1s all;
    color: #111;
}

.post-container .post-detail .post-text a > p.thread-title{
	font-size: 16px;
	color: #000;
	text-align: center;
	font-weight: bold;
	margin:2px 0 -5px;
	text-transform: capitalize;
}
.post-container .post-detail .post-text a img{
	max-width: 98%!important;
	height: auto!important;
}
.post-container .post-detail .post-text a p{
	overflow: hidden;
}
.post-container .post-detail .post-text:hover > a:before{
	content:'Open Thread';
	position: absolute;
	background-color:#fc8207;
	bottom:30px;
	right: 5px;
	color: #fff;
	text-align: center;
	width: 110px;
	height: 30px;
	line-height: 30px;
	font-weight: bold;
	border-radius: 4px;
}



.trend-threads-card{
	width: 100%;
	padding:5px 10px;
	background-color: #fff;
	border-radius: 5px;
	text-align: center;
	margin-bottom: 10px;
	min-height: 200px;
}
.trend-threads-card .trend-thread{
	padding:2px;
	border-radius: 0;
	width: 100%%;
	border-bottom: 2px solid rgba(0,0,0,0);
	transition: ease-in .2s all;
}
.trend-threads-card > h6{
	font-weight: bold;
	color: #ff6600;
	text-shadow: 0rem .14rem rgba(0,0,0,.15);
}
.trend-threads-card .trend-thread:hover{
	color: #ff6600;
	border-bottom: 2px solid #ff6600;
}
.trend-threads-card .trend-thread > a > .threads-title{
	margin-bottom: 0px;
	font-weight: bold;
	font-size: 14px;
	margin-bottom: 0;
}
.trend-threads-card .trend-thread > a > .thread-detail{
	margin-bottom: 5px;
}
.trend-threads-card .trend-thread > a > .thread-detail .thread-r{
	font-size: 13px;
	font-weight: bold;
	margin-left: 3px;
	color:  #007bff;
}
.suggest-forum-card{
	width: 100%;
	padding:5px 10px;
	background-color: #fff;
	border-radius: 5px;
	text-align: center;
	margin-bottom: 10px;
}
.suggest-forum-card .follow-forum{
	padding:2px;
	border-radius: 5px;
	width: 95%;
	border: 1px solid #ff6600;
	margin-bottom:4px;
}
.suggest-forum-card > h6{
	font-weight: bold;
	color:#ff6600;
	text-shadow: 0rem .14rem rgba(0,0,0,.15);
}
.suggest-forum-card .follow-forum{
	margin-left: auto;
	margin-right: auto;
}
.suggest-forum-card .follow-forum > p{
	display: block;
	margin-bottom: 0px;
	font-weight: bold;
	font-size: 1.1em;
	transition: ease-in .2s all;
}
.suggest-forum-card .follow-forum:hover > p{
	color:#ff6600;
}
.suggest-forum-card .follow-forum .btn-follow{
	height: 25px;
	width: 90px;
	font-size: 13px;
	padding: 0;
	margin-top: 0px;
	margin-bottom: 3px;
}




#footer{
	background-color: #fff;
	width: 100%;
	padding:10px 15px;
	border-radius: 10px;
}

#footer .footer-content >h6{
	text-align: center;
	font-weight: bold;
	color: #ff6600;
	text-shadow: 0rem .14rem rgba(0,0,0,.15);
}

#footer .copyright{
	text-align: center;
	color: #333;
}





@media (max-width: 1153px){
	.profile-card .profile-fields img.profile-photo{
	  height: 45px;
	  width: 45px;
	 left:5px;
	 top: -30px;
	}
}


