
.wrap-content{
	width: 100%;
	padding: 10px 25px;
	background-color: white;
	border-radius: 5px;
	margin-bottom: 20px;
}


.wrap-content .thread-content{
	position: relative;
	padding-top: 100px;
}
.wrap-content .thread-content .user-detail{
	position: absolute;
	top: -5px;
	left: -20px;
	padding: 8px;
	border-radius: 7px;

}
.wrap-content .thread-content .user-detail .user-photo{
	margin-right: 10px;
}
.wrap-content .thread-content .user-detail .btn-follow{
	width: 90px!important;
	font-size: 13px;
}
.wrap-content .thread-content .user-info>h5{
	text-align: center;
	font-weight: bold;
	color: #000;
	margin-bottom: 4px;
}
.wrap-content .thread-title{
	text-transform: capitalize;
	font-weight: bold;
	color: #000;
	font-family: 'Agency',sans-serif;
}
.wrap-content .thread-detail >p{
	color: #222;
	font-size: 14px;
	letter-spacing: 1px;
}

.wrap-content .thread-content>p{
	font-size: 15.5px;
	color:#000;
	margin-bottom: 8px;
	letter-spacing: .2px;
	word-spacing: 1.2px;
}



.wrap-content .thread-content .btn.btn-claps,.wrap-content .thread-content  .btn.btn-punch{
	border-radius: 50%;
	border:1.5px solid #000;
	padding: 3px;
	transition:ease-in .1s all;
	margin-right: 2px;
	margin-bottom: 5px;
}
.wrap-content .thread-content .btn.btn-claps.btn-claps-sm,.btn.btn-punch.btn-punch-sm{
	padding:1px;
	width: 27px;
	height: 27px;
}
.wrap-content .thread-content .btn.btn-claps.active,.wrap-content .thread-content .btn.btn-claps:hover {
	border-color: #0f7fff;
}
.wrap-content .thread-content .btn.btn-claps.active,.btn.btn-claps:focus,.btn.btn-claps:active{
	box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25);
}
.wrap-content .thread-content .btn.btn-claps.active .path-claps,.btn.btn-claps:hover .path-claps{
	fill:#0f7fff;
}
.wrap-content .thread-content .btn.btn-punch.active,.wrap-content .thread-content .btn.btn-punch:hover{
	border-color:#db1e1e;
}
.wrap-content .thread-content .btn.btn-punch.active,.btn.btn-punch:focus,.btn.btn-punch:active{
	box-shadow: 0 0 0 .2rem rgba(245, 69, 69, 0.57);

}

.wrap-content .thread-content .btn.btn-punch.active .path-punch,.btn.btn-punch:hover .path-punch{
	fill:#db1e1e!important;
}
.wrap-content .thread-content .reaction .btn-recommend {
	color: #444!important;
	border: 1px solid rgba(240, 107, 9, 0.5);
	padding: 2px 0;
	width: 80px;
	margin-right:15px;
	border-radius: 4px;
	margin-bottom: 5px;
	transition: .3s;
}
.wrap-content .thread-content .reaction .btn-recommend:hover,.wrap-content .thread-content .reaction .btn-recommend.active{
	background:#fc8207;
	background: linear-gradient(55deg,#fc8207 0%,#f05c27 50%,#e7413f 100%)!important;
	color:#fff!important;
	border: 1px solid rgba(240, 107, 9, 0);
}
.wrap-content .thread-content .reaction .btn-recommend:focus{
	box-shadow: 0 0 0 0.2rem rgba(240, 107, 9, 0.5);
}
.wrap-content .thread-content .reaction .recommend-path{
	fill: #666!important;
}
.wrap-content .thread-content .reaction .btn-recommend:hover .recommend-path,.wrap-content .thread-content .reaction .btn-recommend.active .recommend-path{
	fill:#fff!important;
}
.wrap-content a.totals-comment span{
	color: #000;
	font-size: 15px;
	margin-bottom: 5px;
}
.wrap-content a.totals-comment span>.fa{
	font-weight: normal;
	font-size: 30px;
	color:#444;
	margin-right: 5px;
}
.wrap-content .detail-reaction{
	font-size: 15.5px;
}
.cke_chrome{
	padding: 0!important;
}

.detail-comment{
	color: #000;
	position: relative;
	z-index: 1;
}

.detail-comment .post-comment.parent-comment:before{
	content: '';
	position: absolute;
	border-left: 1px solid rgba(252, 130, 7, 0.5);
	left: 17.5px;
	height: 95%;
	z-index: -1;
}
.detail-comment .post-comment{
	margin-bottom: 5px;
}
.detail-comment .post-comment img.user-photo{
	border-radius: 50%;
	width: 35px;
	height: 35px;
	margin-right: 15px;
}
.detail-comment .post-comment p {
	padding-top: 2px;
	font-size: 14px;
	margin-bottom: 5px;
}
.detail-comment .post-comment p > span{
	color:  #fc8207;
	font-weight: bold;
	font-size: 15px;
	margin-right: 5px;
}

.detail-comment .reaction{
	margin-left: 30px;
	margin-bottom: 5px;
	font-size: 15.5px;
}
.detail-comment .reaction>.btn{
	margin-right: 3px;
}
.detail-comment .reaction>.btn+span{
	margin-right: 5px;

}
.form-reply{
	position: relative;
	z-index: 99999;
}