{% for thread in threads %}
	<div class="post-container">
        {% if user.is_authenticated and user == thread.author %}
        <div class="container">
          <div class="row">
            <div class="post-edit ml-auto">
              <a href="{% url "forum:updatethread" thread.post_slug %}" class="edit-tread d-block-inline mr-1" data-action='edit'>Edit</a>
              <a href="javascript:void(0)" class="delete-thread d-block-inline mr-3" data-id='{{thread.post_slug}}' data-action='delete'>Hapus</a>
            </div>
          </div>
        </div>
        {% endif %}
        <div class="post-detail shadow">
         	<img src="{{thread.author.profile.user_photo.url}}" alt="user" class="profile-photo" />
          <div class="user-info">
            <h5><a href="{% url "creator" thread.author.username %}" class="profile-link">{{thread.author}}</a> <i class="fa fa-caret-right"></i> <a href="{% url "forum:forumview" thread.content_forum_post.id thread.content_forum_post.name%}" class="name-forum">{{thread.content_forum_post.name}}</a></h5>
            <p class="text-muted">{{thread.created}}</p>
          </div>
          <div class="hr-custom clearfix"></div>
          <div class="post-text pl-md-2 pl-lg-4">
          	<a href="{% url "thread" thread.post_slug thread.post_title %}" class="remove-link-format">
          		<p class="thread-title mb-2">{{thread.post_title}}</p>
              {{thread.body|truncatewords_html:33|safe}}
              <p class="clearfix"></p>
              <div class="reaction">
                   <span class="d-block-inline"><i class="fa fa-eye"></i> {{thread.post_views.all.count}}</span>
                  <span class="d-block-inline"><i class="ba-claps"></i> {{thread.upvotes}}</span>
                  <span class="d-block-inline"><i class="ba-punch"></i> {{thread.downvotes}}</span>
                  <span class="d-block-inline"><i class="fa fa-comment"></i> {{thread.post_comments.all.count}}</span>
            	 </div>
        	</a>
          </div>
        </div>
    </div>
    {%empty%}
		<h4 class="text-warning text-center p-4">Tidak Ada Thread</h4>
{% endfor %}