<footer id="footer" class="shadow">
          <div class="footer-content">
              <h6>About</h6>
              <ul class="footer-links">
                <li><a href="">About us</a></li>
                <li><a href="">Contact us</a></li>
                 <li><a href="">Ask Batasibuk</a></li>
                <li><a href="">Terms</a></li>
                <li><a href="">FAQ</a></li>
              </ul>
          </div>
		  <div class="copyright">
			<p>Batasibuk <i class="fa fa-copyright"></i> {% now "Y" %}. All rights reserved</p>
		  </div>
		</footer>