<style type="text/css">
  #online-kreator{
  margin: 0 0 40px 0;
  text-align: center;
  padding: 10px 0;
  border-radius: 4px;
  background-color: #fff;
}

#online-kreator .title{
  background: #fc8207;
  padding: 5px 20px;
  width: 70%;
  min-height: 30px;
  border-radius: 15px;
  position: relative;
  margin: 0 auto 20px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
}

ul.list-kreator{
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  margin: 0;
}

ul.list-kreator li{
  list-style: none;
  position: relative;
  margin: 6px auto !important;
  padding-left: 3px;
  padding-right: 3px;
  display: inline-block;
}

ul.list-kreator li:after{
content: '';
  background: linear-gradient(90deg,#fc8207 0%,#f05c27 50%,#e7413f 100%);
  border: none;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  position: absolute;
  bottom: -6px;
  border: 1px solid #fff;
  left: 0;
  right: 0;
  margin: auto;
}
</style>


<div id="online-kreator" class="shadow">
              <div class="title">Online Kreator</div>
              <ul class="list-kreator">
                <li><a href="newsfeed-messages.html" title="Linda Lohan"><img src="/media/profil_image/users/user-2.jpg" alt="user" class="img-responsive profile-photo" /></a></li>
                <li><a href="newsfeed-messages.html" title="Sophia Lee"><img src="/media/profil_image/users/user-3.jpg" alt="user" class="img-responsive profile-photo" /></a></li>
                <li><a href="newsfeed-messages.html" title="John Doe"><img src="/media/profil_image/users/user-4.jpg" alt="user" class="img-responsive profile-photo" /></a></li>
                <li><a href="newsfeed-messages.html" title="Alexis Clark"><img src="/media/profil_image/users/user-5.jpg" alt="user" class="img-responsive profile-photo" /></a></li>
                <li><a href="newsfeed-messages.html" title="James Carter"><img src="/media/profil_image/users/user-6.jpg" alt="user" class="img-responsive profile-photo" /></a></li>
                <li><a href="newsfeed-messages.html" title="Robert Cook"><img src="/media/profil_image/users/user-7.jpg" alt="user" class="img-responsive profile-photo" /></a></li>
                <li><a href="newsfeed-messages.html" title="Richard Bell"><img src="/media/profil_image/users/user-8.jpg" alt="user" class="img-responsive profile-photo" /></a></li>
                <li><a href="newsfeed-messages.html" title="Anna Young"><img src="/media/profil_image/users/user-9.jpg" alt="user" class="img-responsive profile-photo" /></a></li>
                <li><a href="newsfeed-messages.html" title="Julia Cox"><img src="/media/profil_image/users/user-10.jpg" alt="user" class="img-responsive profile-photo" /></a></li>
              </ul>
            </div><!--online kreator ends-->