<div id="online-kreator" class="shadow">
              <div class="title">Online Kreator</div>
              <ul class="list-kreator">
                <li><a href="newsfeed-messages.html" title="Linda Lohan"><img src="/media/profil_image/users/user-2.jpg" alt="user" class="img-responsive profile-photo" /></a></li>
                <li><a href="newsfeed-messages.html" title="Sophia Lee"><img src="/media/profil_image/users/user-3.jpg" alt="user" class="img-responsive profile-photo" /></a></li>
                <li><a href="newsfeed-messages.html" title="John Doe"><img src="/media/profil_image/users/user-4.jpg" alt="user" class="img-responsive profile-photo" /></a></li>
                <li><a href="newsfeed-messages.html" title="Alexis Clark"><img src="/media/profil_image/users/user-5.jpg" alt="user" class="img-responsive profile-photo" /></a></li>
                <li><a href="newsfeed-messages.html" title="James Carter"><img src="/media/profil_image/users/user-6.jpg" alt="user" class="img-responsive profile-photo" /></a></li>
                <li><a href="newsfeed-messages.html" title="Robert Cook"><img src="/media/profil_image/users/user-7.jpg" alt="user" class="img-responsive profile-photo" /></a></li>
                <li><a href="newsfeed-messages.html" title="Richard Bell"><img src="/media/profil_image/users/user-8.jpg" alt="user" class="img-responsive profile-photo" /></a></li>
                <li><a href="newsfeed-messages.html" title="Anna Young"><img src="/media/profil_image/users/user-9.jpg" alt="user" class="img-responsive profile-photo" /></a></li>
                <li><a href="newsfeed-messages.html" title="Julia Cox"><img src="/media/profil_image/users/user-10.jpg" alt="user" class="img-responsive profile-photo" /></a></li>
              </ul>
            </div><!--online kreator ends-->