<div class="profile-card shadow ">
    <a href="{% url 'profile' user.username %}" class="profile-name">{{user.username}}</a>
    <p class="profile-info">{{user.profile.info}}</p>
    <div class="profile-fields">
        <img src="{{user.profile.user_photo.url}}" class="profile-photo img-fluid" />
        <div class="profile-stats d-flex flex-row justify-content-around">
            <a href="" class="d-block">
                <span class="d-block">Post</span>
                <span>{{user.posts.all.count}}</span>
            </a>
            <a href="" class="d-block">
                <span class="d-block">Pengikut</span>
                <span>{{user.profile.followers.all.count}}</span>
            </a>
        </div>
    </div>
</div>