{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <title>
      {% if title %}{{title|capfirst}} | {% endif %}Batasibuk
    </title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS and Base CSS -->
    {% include "snippets/css.html" %}

    <!-- Jquery -->
    <script type="text/javascript" src="{% static "vendor/jquery/jquery-3.2.1.min.js" %}"></script>

    <!-- coustum  CSS -->
    {% block costum_css %}
      
    {% endblock costum_css %}
      
    <!-- coustum  Js in head -->
    {% block costumhead_js %}
        
    {% endblock costumhead_js %}

    {% block get_in_head %}
        
    {% endblock get_in_head %}
    <link rel="shortcut icon" type="image/png" href="{% static "image/fav.png" %}"/>
  </head>
  <body>

    {% include "snippets/navbar.html" %}
    {% block main_header %}
        
    {% endblock main_header %}
    <div id="contents">
       <div class="container-fluid">
            {% block main_content %}

            {% endblock main_content %}
        </div> 
    </div>
    



    <!--Preloader-->
    <div id="spinner-wrapper">
      <div class="spinner"></div>
    </div>
    <!--Popper.js, Bootstrap JS, and Base.js  -->
    {% include "snippets/js.html" %}

    <!-- costum Js  -->
    {% block costum_js %}
      
    {% endblock costum_js %}
  </body>
</html>

