{% extends "base.html" %}
{% load top_recommend %}
{% block get_in_head %}

{% include "snippets/highlight/highlight_css_js.html" %}	

{% endblock get_in_head %}


{% block main_content %}

<div class="row">
    <!-- side left-->
  	 <div class="col-md-3 d-none d-md-block order-md-1">
  	 	{% if user.is_authenticated %}
  	 		{% include "snippets/profile_card.html" %}
  	 	{% endif %}
        <!-- top recommend-->
    	{%top_recommend%}
    	<!-- end top recommend-->
    </div>
    <!-- end side left-->

    <!-- main content-->
    <div class="col-md-6 order-1 order-md-2 ">
    		{% if user.is_authenticated %}
    			<!-- Post Create-->
	            {% include "snippets/post_create.html" %}
	            <!-- Post CreateEnd-->
    		{% endif %}
            
        
                <!-- Posts-->
		        <div class="content-posts">
		            {% with new_threads as threads  %}
		                        {% include "snippets/container_card_threads.html" %}
		                    {% endwith %}
		              <!--if all threads has paginated-->
		                {% include "snippets/this_paginated.html" %}
		              <!--end if all threads has paginated-->
		        </div>
		        <!-- end Posts-->

    </div>
    <!-- end main content-->

     <!-- side right-->
    <div class="col-md-3 order-2 order-md-3">
    	
	     <!--forum recommend-->
      {%forum_recommend request%}
       <!--end forum recommend-->
	   	{% include "snippets/footer.html" %}
	 </div>
   <!-- end side right-->
</div>

{% endblock main_content %}

{% block costum_js %}
  <script type="text/javascript">
  $(document).ready(function(){
    $('.nav-item.home').addClass('active');
  });
  </script>
  {% include "snippets/follow.html" %}
  {% include "snippets/delete_thread.html" %}
  
{% endblock costum_js %}
